body {
    font-family: Arial, sans-serif;
    line-height:   1.6;
    background-color: #f4f4f4;
    padding-top: 70px;
}

.navbar {
    box-shadow:   0   2px   4px rgba(0,   0,   0,   0.1); /* Sombra debajo de la barra de navegación */
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.jumbotron {
    /* margin-top: 50px; */
    background-color: #007bff; /* Color de fondo para el encabezado */
    margin-bottom:   0; /* Sin margen inferior para el encabezado */
    margin-left: 205px;
    margin-right: 205px;
}

.content-section {
    margin-bottom:   2rem; /* Espaciado entre secciones */
    border-radius:   1rem; /* Bordes redondeados */
    box-shadow:   0   0.5rem   1rem rgba(0,   0,   0,   0.15); /* Sombra para dar profundidad */
    transition: transform   0.3s ease-in-out; /* Transición suave al pasar el cursor */
}

.content-section:hover {
    transform: translateY(-0.25rem); /* Efecto de elevación al pasar el cursor */
}

.my-5 {
    margin-top:   3rem !important; /* Espaciado superior para el contenido principal */
    margin-bottom:   3rem !important; /* Espaciado inferior para el contenido principal */
}

/* Estilos adicionales para mejorar la apariencia y funcionalidad */
h1 {
    font-size: 2.5rem;
    /* FALTA ESCOGER FUENTE */
    font-family: 'Rubik Dirt', cursive;
  }

  h4 {
    font-size: 1.5rem;
    margin-top:20px;
    /* FALTA ESCOGER FUENTE */
    font-family: 'Rubik Dirt', cursive;
  }
  .seccion-oscura {
    color: white;
    background-color: #1b1b32;
  }
  
  .seccion-clara {
    color: black;
    background-color: white;
  }
  
  .seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt', cursive;
  }
  
  .seccion-descripcion {
    font-size: 1.2rem;
    color: #584e4e;
  }
  
  .seccion-texto {
    font-size: 1.2rem;
  }
  
  .btn-info {
    font-size: 1.1rem;
    margin: 20px;
  }
  
  .texto-negro {
    color: black;
  }
  
  .texto-blanco {
    color: white;
  }
  
  /* Seccion Hero */
  
  .hero {
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
  }
  
  .hero-principal {
    padding: 3rem;
  }
  
  .hero-imagen-desarrollador {
    width: 200px;
    height: 200px;
    margin: 20px;
  }
  
  .hero-principal h2 {
    font-size: 1.5rem;
    color: #615151;
  }
  
  /* Sobre mi */
  
  .sobre-mi {
    height: 500px;
    padding: 10px;
  }
  
  .sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
  }
  
  /* Experiencia */
  
  .experiencia {
    padding: 40px 40px 60px 40px;
  }
  
  .experiencia .columna {
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
  }
  
  .experiencia .columna:hover {
    color: white;
    background-color: #1b1b32;
  }
  
  .experiencia i {
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
  }
  
  .experiencia-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .badges-contenedor {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .badge {
    margin: 5px;
  }
  /* FALTA CAMBIAR COLOR DE BOTONES */
  .text-bg-primary {
    background-color: #007bff; /* Cambia este valor al color que desees */
    color: #fff; /* Cambia este valor al color del texto que desees */
}

  /* Proyectos */
/*   
  .proyectos-recientes {
    padding: 40px;
  }
  
  .proyectos-recientes img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
  }
  
  .proyectos-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
  }
  
  .overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
  }
  
  .proyecto {
    position: relative;
  }
  
  .proyecto:hover img {
    opacity: 0.2;
  }
  
  .proyecto:hover .overlay {
    opacity: 1;
  }
  
  .overlay .iconos-contenedor {
    display: flex;
  }
  
  .overlay i {
    color: black;
    font-size: 60px;
    margin: 10px;
  }
   */
  
  /* libros */
  
  .libros {
    padding: 40px 40px 80px 40px;
  }
  
  .libros .carousel {
    max-width: 800px;
  }
  
  .carousel-item {
    height: 500px;

  }
  
  .carousel-item .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
  }

 .carousel-control-prev, .carousel-control-next  {
    border: none;
    height: 50px;
    margin-top: 170px;
    max-width: max-content;
  }

  .gustos-imagen {
    height: 200px;
    width: 180px;
    margin: 10px 10px 20px 10px;


  }
  
  .gustos-texto {
    max-width: 70%;
    font-size: 15px;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;

  }
  
  .gustos-info {
    font-weight: bold;
    text-align: center;

  }
  
  .gustos-info p {
    margin-bottom: 0;
 
  }
  
  .testimonio-footer .libro {
    font-size: 1.2rem;

  }
  
  .testimonio-info .autor {
    font-size: 0.9rem;
    color: #656060;

  }
  
 
  /* Pie de pagina (footer) */
  
  footer {
    min-height: 100px;
  }
  
  .footer-logo {
    height: 80px;
    width: 80px;
    margin: 10px;
  }
  
  .footer-texto {
    font-size: 1.5rem;
    padding-top: 2%;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
  }
  
  .iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
  }
  
  .iconos-redes-sociales i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
  }
  
  .iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
  }
  
  .iconos-redes-sociales a:hover i {
    color: black;
  }
  
  .derechos-de-autor {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
  }

  .cv-body{
    background-color: yellow;
    padding-left:10rem;
    padding-right:10rem;

  }

  /* AQUÍ ESTOY HACIENDO PRUEBAS */
  .left-column{
    width:  25%; /* Ocupa  1/4 de la pantalla */
    height:  100%;
    background-color: red;
    display: block; /* Asegura que la imagen se trate como un bloque */
    margin: auto; /* Centra la imagen horizontalmente */
  }

  .left-column .section{
    height:   33.33%; /* Cada sección ocupa   1/3 de la altura total de la columna */
    border-bottom:   1px solid #ccc; /* Línea divisoria entre secciones */
    display: flex; /* Hace que la sección sea un contenedor Flexbox */
    align-items: center; /* Centra los elementos a lo largo del eje cruzado */
    justify-content: center; /* Centra los elementos a lo largo del eje principal */
    padding-top: 15px;
    padding-bottom: 15px;

  }

  .left-column img{
    max-width:   90%; /* La imagen nunca será más ancha que su contenedor */
    max-height:   90%; /* La imagen nunca será más alta que su contenedor */
    object-fit: contain; /* Asegura que la imagen se ajuste dentro de su contenedor manteniendo su relación de aspecto */
    display: block; /* Asegura que la imagen se trate como un bloque */
    margin: auto; /* Centra la imagen horizontalmente */
    margin-top: 10px; 
    margin-bottom: 10px;
    border-radius: 5%;
  }
    


  .right-column {
    flex-grow:  1; /* Ocupa el espacio restante */
    background-color: #e0e0e0; /* Color de fondo para visualizar la columna */
}



  .right-column .section{
    height:  33.33%; /* Cada sección ocupa  1/3 de la altura total de la columna */
    border-top:  1px solid #ccc;
    padding: 50px;
    border-left:  10px solid #007bff;

  }

  .section span{
    margin-left: 8px;
  }

  .section a{
    margin-left: 18px;
  }
  .container-cv{
    display: flex;
    height:   100%;    
  }

  /* Adaptable (Responsivo) */
  
  @media screen and (max-width: 400px) {
    .overlay p {
      font-size: 18px;
    }
  
    .overlay i {
      font-size: 40px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .navbar-brand {
      display: none;
    }
  }
  
  @media screen and (max-width: 800px) {
    .gustos-imagen {
      height: 120px;
      width: 120px;
    }
  
    .gustos-texto {
      font-size: 18px;
    }
  }
  
  @media screen and (min-width: 700px) {
    .hero-inferior-imagen {
      max-width: 600px;
    }
  }
